<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher le potin</title>
</head>
<body>
    <h1>Voici la page du potin n°<%= @gossip.id %></h1>
    <p>Son auteur : <%= @gossip.author %></p>
    <p>Le contenu du potin : <%= @gossip.content %></p>
    <a href="/">Retour à la page des potins</a>
</body>
</html>
